.App{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10vh;
    width: 80vw;
    height: 80vh;
}
@media screen and (max-width: 768px){
    .App{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
}

.iconButton{
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: #eeeeee;
    padding: 14px;
    border: none;
    cursor: pointer;
}

.iconButton:active, .trigger2:active{
    background-color: #e5e5e5;
}

.iconButton img {
    width: 20px;
    height: 20px;
}

.trigger2{
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 4px;
    gap: 4px;
    cursor: pointer;
    width: fit-content;
    padding: 4px;
}

.triangleUp{
    transform: rotate(180deg);
    transition: all .2s ease;
}

.customComponent{
    padding: 12px;
    background-color: white;
    border: 1px solid #4FB1EB;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
}

.customComponent hr{
    position: relative;
    left: -12px;
    width: calc(100% + 24px);
}

.customComponent__controls button:not(:last-child){
    margin-right: 12px;
}

.customComponent__message{
    padding: 5px 10px;
    background-color: #E6F7FF;
    margin-bottom: 5px;
    border-radius: 4px;
}

.button{
    padding: 6px 20px;
    border-radius: 2px;
    cursor: pointer;
}

.button-primary{
    background-color: #4FB1EB;
    border: 1px solid transparent;
    color: white;
}

.button-primary:active{
    background-color: #42aae8;
}

.button-secondary{
    background-color: white;
    border: 1px solid black;
}


.button-secondary:active{
    background-color: #fafafa;
}